<form method="POST" id="" action="/addJob">
    <label for="name">Position Name</label>
    <input name="name" id="name" type="text" placeholder="name" class="name">
    <label for="loc">Location</label>
    <input name="loc" id="loc" type="text" placeholder="location" class="loc">
    <label for="ex">Experience</label>
    <input name="ex" id="ex" type="text" placeholder="experience" class="ex">
    <label for="skills">Key Skills</label>
    <input name="skills" id="skills" type="text" placeholder="key skills" class="skills">
    <label for="desc">Description</label>
    <input name="desc" id="desc" type="text" placeholder="description" class="desc">
    <button type="submit">Submit</button>
</form>

<style>
    input{
        display: block;
    }
</style>