<!DOCTYPE html>

<html>
	<head>
		<title>login with jalfry</title>
		
		<style>
		iframe {
			width: 500px;
			height: 700px;
			margin: 0 auto;
			display: block;
		}
		</style>
	</head>

	<body>
		<iframe id="jf" frameBorder="0" src="https://jalfry.com/auth" title="jalfry login"></iframe>

		<script src="/js/jalfry.js"></script>
	</body>
</html>
